---
import Layout from '../layouts/Layout.astro';
import SeccionPrincipal from '../components/SeccionPrincipal.astro';
import SobreMi from '../components/SobreMi.astro';
import Experiencia from '../components/Experiencia.astro';
---

<Layout title="Mi portafolio :}">
	
	
	<SeccionPrincipal></SeccionPrincipal>
	<div class="max-w-6xl flex justify-center flex-col">
	<SobreMi></SobreMi>
	</div>
	<div class="max-w-6xl flex justify-center flex-col">
	<Experiencia></Experiencia>
	</div>
	</main>
	</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
