---
import Layout from '../layouts/Layout.astro';
import SeccionPrincipal from '../components/SeccionPrincipal.astro';
import SobreMi from '../components/SobreMi.astro';
import Experiencia from '../components/Experiencia.astro';
import Formulario from '../components/Formulario.astro';
import Proyectos from '../components/Proyectos.astro';
import Habilidades from '../components/Habilidades.astro';
---

<Layout title="Mi portafolio :}">
	
	
	<SeccionPrincipal></SeccionPrincipal>
	<div >
		<SobreMi></SobreMi>
	</div>
	<div >
		<Experiencia></Experiencia>
	</div>
	<div class="mt-52">
		<Habilidades></Habilidades>
	</div>
	<div class="mt-52">
		<Proyectos></Proyectos>
	</div>
	<div class="">
		<Formulario></Formulario>
	</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
