<figure class="flex flex-col p-8 lg:p-0 mt-40">
    <figcaption class="flex">
        <div class="space-y-0.5 font-medium dark:text-white text-left ms-3 flex flex-row">
            <img class="rounded-full w-20 h-20" src="yoCartoonSmall.webp" alt="profile picture">
            <div class="flex justify-center">
                <h1 class="opacity-70 text text-4xl pl-5 pt-5" data-translate data-en="Experience" data-es="Experiencia">Experiencia</h1>
            </div>
        </div>
    </figcaption>
</figure>

<blockquote class="w-full text-gray-300 lg:mb-8 bg-slate-50 flex flex-row flex-wrap justify-center mt-3 lg:mt-10">
    <div class="flex flex-col p-5 min-w-80 lg:max-w-lg max-w-md">
        <h3 class="text-md font-semibold text-verdeagua dark:text-white" data-translate data-en="Fullstack Developer - Applica - 2023 / 2025" data-es="Fullstack Developer - Applica - 2023 / 2025 ">Fullstack Developer - Applica - 2023 / 2025</h3>
        <ul class="opacity-70 list-disc list-inside ">
            <li class="my-2" data-translate 
                data-en="Developed an appointment management system that automated exam scheduling, provided real-time calendar synchronization, increasing administrative productivity by 90% while reducing scheduling errors to near-zero."
                data-es="Se desarrolló un sistema de gestión de citas que automatizaba la programación de exámenes, proporcionaba sincronización de calendarios en tiempo real, aumentaba la productividad administrativa en un 90% y reducía los errores de programación casi a cero.">
                Desarrollé un sistema de gestión de citas que automatizaba la programación de exámenes, proporcionaba sincronización de calendarios en tiempo real, aumentaba la productividad administrativa en un 90% y reducía los errores de programación casi a cero.
            </li>
            <li class="my-2" data-translate 
                data-en="Created the official Megatec 2025 website with an integrated ticketing platform featuring automated registration processing, contributed to a 40% increase in ticket sales compared to previous manual processes."
                data-es="Se creó el sitio web oficial de Megatec 2025 con una plataforma integrada de venta de entradas que incluye el procesamiento automatizado de las inscripciones, lo que contribuyó a un aumento del 40% en la venta de entradas en comparación con los procesos manuales anteriores.">    
                Se creó el sitio web oficial de Megatec 2025 con una plataforma integrada de venta de entradas que incluye el procesamiento automatizado de las inscripciones, lo que contribuyó a un aumento del 40% en la venta de entradas en comparación con los procesos manuales anteriores.
            </li>
            <li class="my-2" data-translate 
                data-en="Redesigned and modernized the official Applica website resulting in a 50% longer average session duration and significantly improved professional perception based on user feedback surveys."
                data-es="Se rediseñó y modernizó el sitio web oficial de Applica, lo que se tradujo en una duración media de las sesiones un 50% mayor y una mejora significativa de la percepción profesional según las encuestas de opinión de los usuarios">
                Se rediseñó y modernizó el sitio web oficial de Applica, lo que se tradujo en una duración media de las sesiones un 50% mayor y una mejora significativa de la percepción profesional según las encuestas de opinión de los usuarios
            </li>
        </ul>
    </div>
    <div class="flex flex-col p-5 min-w-80 lg:max-w-lg max-w-md">
        <h3 class="text-md font-semibold text-verdeagua" data-translate data-en="INA Professional Practice - 2021" data-es="INA Práctica Profesional - 2021">Frontend Developer INA PRACTICA PROFESIONAL -  2021</h3>
        <ul class="opacity-70 list-disc list-inside ">
            <li class="my-2" data-translate 
                data-en="Redesigned UI/UX components according to modern and accessibility web standards, implementing responsive layouts that resulted in measurable improvements to both usability metrics and aesthetic quality.•	Redesigned UI/UX components according to modern and accessibility web standards, implementing responsive layouts that resulted in measurable improvements to both usability metrics and aesthetic quality."
                data-es="Se rediseñaron los componentes de interfaz de usuario y de interfaz de usuario de acuerdo con los estándares web modernos y de accesibilidad, implementando diseños receptivos que dieron como resultado mejoras cuantificables tanto en las métricas de usabilidad como en la calidad estética.">
                Se rediseñaron los componentes de interfaz de usuario y de interfaz de usuario de acuerdo con los estándares web modernos y de accesibilidad, implementando diseños receptivos que dieron como resultado mejoras cuantificables tanto en las métricas de usabilidad como en la calidad estética.
            </li>
            <li class="my-2" data-translate 
                data-en="Developed a complete SEO strategy enhancement that collectively drove a 60% increase in organic website traffic, while simultaneously implementing performance upgrades that reduced page load times by an average of 40%."
                data-es="Se desarrolló una mejora completa de la estrategia SEO que, en conjunto, impulsó un aumento del 60% en el tráfico orgánico del sitio web, al tiempo que implementó mejoras de rendimiento que redujeron los tiempos de carga de las páginas en una media del 40%.">
                Se desarrolló una mejora completa de la estrategia SEO que, en conjunto, impulsó un aumento del 60% en el tráfico orgánico del sitio web, al tiempo que implementó mejoras de rendimiento que redujeron los tiempos de carga de las páginas en una media del 40%.
            </li>
            <li class="my-2" data-translate 
                data-en="Built a departmental information website that enhanced inter-collaborator communication by 50% by eliminating redundant questions and correcting misinformation through streamlined data validation processes."
                data-es="Se creó un sitio web de información departamental que mejoró la comunicación entre colaboradores en un 50% al eliminar las preguntas redundantes y corregir la información errónea mediante procesos de validación de datos racionalizados.">
                Se creó un sitio web de información departamental que mejoró la comunicación entre colaboradores en un 50% al eliminar las preguntas redundantes y corregir la información errónea mediante procesos de validación de datos racionalizados.
            </li>
        </ul>
    </div>
</blockquote>
