<figure class="flex flex-col p-8 mt-40 border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg dark:bg-gray-800 dark:border-gray-700">
    <figcaption class="flex">
        <div class="space-y-0.5 font-medium dark:text-white text-left ms-3 flex flex-row">
            <img class="rounded-full w-20 h-20" src="yoCartoonSmall.webp" alt="profile picture">
            <div class="flex justify-center">
                <h1 class="text-4xl pl-5 pt-5" data-translate data-en="Experience" data-es="Experiencia">Experiencia</h1>
            </div>
        </div>
    </figcaption>
</figure>

<blockquote class="w-full text-gray-300 lg:mb-8 bg-slate-50 border rounded-lg flex flex-row flex-wrap justify-center">
    <div class="flex flex-col p-10 min-w-80 max-w-lg">
        <h3 class="text-lg font-semibold text-verdeagua dark:text-white" data-translate data-en="INA Professional Practice - 2021" data-es="INA Práctica Profesional - 2021">INA PRACTICA PROFESIONAL - 2021</h3>
        <p class="my-4" data-translate 
           data-en="It was my first work experience where I supported the team with the analysis and improvement of websites, also creating various designs to improve their aesthetics. I contributed to the creation of logos and banners. During the last 4 months, I worked on my first 'formal' website for a specific group within the company."
           data-es="Fue mi primera experiencia laboral en la que apoyé al equipo con el análisis y la mejora de páginas web, creando también diversos diseños para mejorar su estética. Contribuí a la creación de logotipos y banners. Durante los últimos 4 meses, estuve trabajando en mi primer sitio web 'formal' para un grupo específico de la empresa.">
           Fue mi primera experiencia laboral en la que apoyé al equipo con el análisis y la mejora de páginas web, creando también diversos diseños para mejorar su estética. Contribuí a la creación de logotipos y banners. Durante los últimos 4 meses, estuve trabajando en mi primer sitio web "formal" para un grupo específico de la empresa.
        </p>
    </div>

    <div class="flex flex-col p-10 min-w-80 max-w-lg">
        <h3 class="text-lg font-semibold text-verdeagua dark:text-white" data-translate data-en="Applica - 2023 / 2024" data-es="Applica - 2023 / 2024">APPLICA - 2023 / 2024</h3>
        <p class="my-4" data-translate 
           data-en="I held the position of developer and digital designer. I mainly focused on the maintenance and improvement of websites, as well as troubleshooting the Odoo platform, where I worked with both Frontend and Backend. I also supported the creation of mockups for websites, being involved in both design and development aspects within the company."
           data-es="Ocupé el puesto de desarrollador y diseñador digital. Me centré principalmente en el mantenimiento y mejora de sitios web, así como en la resolución de problemas en la plataforma Odoo, donde trabajé con Frontend y Backend. También apoyé la creación de maquetas para páginas web, estando así involucrado tanto en aspectos de diseño como de desarrollo dentro de la empresa.">
           Ocupé el puesto de desarrollador y diseñador digital. Me centré principalmente en el mantenimiento y mejora de sitios web, así como en la resolución de problemas en la plataforma Odoo, donde trabajé con Frontend y Backend. También apoyé la creación de maquetas para páginas web, estando así involucrado tanto en aspectos de diseño como de desarrollo dentro de la empresa.
        </p>
    </div>
</blockquote>
