---
import ReactIcon from "./icons/ReactIcon.astro"
import JavascriptIcon from "./icons/JavascriptIcon.astro"
import HtmlIcon from "./icons/HtmlIcon.astro"
import CssIcon from "./icons/CssIcon.astro"
import BootstrapIcon from "./icons/BootstrapIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import IllustratorIcon from "./icons/IllustratorIcon.astro"
import AngularIcon from "./icons/AngularIcon.astro"
import JavaIcon from "./icons/JavaIcon.astro"
import PuntoNetIcon from "./icons/PuntoNetIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import FigmaIcon from "./icons/FigmaIcon.astro"
import SpringIcon from"./icons/SpringIcon.astro"
import FlaskIcon from "./icons/FlaskIcon.astro"
import AzureIcon from "./icons/AzureIcon.astro"
import CSharpIcon from "./icons/CSharpIcon.astro"
import GitIcon from "./icons/GitIcon.astro"
import MySqlIcon from "./icons/MySqlIcon.astro"
---
<h1 class="text-4xl text-gray-200 pl-10">Habilidades</h1>
<div class="flex flex-row flex-wrap gap-x-10 mt-16  justify-center">
    <div class="flex flex-col  w-[16rem] space-y-8  mt-8">
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <HtmlIcon></HtmlIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Html</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <CssIcon></CssIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Css</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <JavascriptIcon></JavascriptIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Javascript</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <AzureIcon></AzureIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Azure</h1>
            </div>
        </div>
    </div>
    <div class=" flex flex-col flex-wrap w-[16rem] space-y-8 mt-8">
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <BootstrapIcon></BootstrapIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Bootstrap</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <TailwindIcon></TailwindIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Tailwind</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <ReactIcon></ReactIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>React</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <CSharpIcon></CSharpIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>C#</h1>
            </div>
        </div>
    </div>
    <div class=" flex flex-col flex-wrap w-[16rem] space-y-8 mt-8">
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <AngularIcon></AngularIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Angular</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <PuntoNetIcon></PuntoNetIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>.Net</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <JavaIcon></JavaIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Java</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <GitIcon></GitIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Git</h1>
            </div>
        </div>
    </div>
    <div class=" flex flex-col flex-wrap w-[16rem] space-y-8  mt-8">
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <SpringIcon></SpringIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>SpringBoot</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <PythonIcon></PythonIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Python</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <FlaskIcon></FlaskIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>Flask</h1>
            </div>
        </div>
        <div class="text-verdeagua  p-5 bg-secundario font-medium  flex flex-row  gap-x-5 rounded-lg hover:bg-grisoscuro hover:text-gray-50 hover:border hover:border-verdeagua">
            <MySqlIcon></MySqlIcon>
            <div class="w-1/2 h-10  text-center p-2">
                <h1>MySQL</h1>
            </div>
        </div>
        
    </div>
</div>