---

---
<h1 class="text-4xl text-gray-200 pl-10">Proyectos</h1>
<div class="flex flex-row gap-5  flex-wrap justify-center mt-16">
    <div class="w-[23rem] min-w-[23rem] bg-[#3C3C3B] border border-verdeagua rounded-lg shadow dark:bg-gray-800 dark:border-gray-700  gap-5 ">
        <a href="https://github.com/J0sePaBl0/Proyecto">
            <img class="rounded-t-lg " src="/ProyectoRobots.webp" alt="" />
        </a>
        <div class="p-5 ">
            <a href="https://github.com/J0sePaBl0/Proyecto">
                <h5 class="mb-2 text-[18px] font-bold tracking-tight text-verdeagua dark:text-white">BOTLAND</h5>
            </a>
            <p class="mb-3 font-normal text-gray-400 dark:text-gray-400">Aplicaci칩n en la que el usuario puede comprar robots de diferentes tipos
                para las necesidades que el mismo requiera.
            </p>
            <a href="https://github.com/J0sePaBl0/Proyecto" class=" w-1/2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-verdeagua rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Github
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                
            </a>
        </div>
    </div>
    <div class="w-[23rem] min-w-[23rem] bg-[#3C3C3B] border border-verdeagua rounded-lg shadow dark:bg-gray-800 dark:border-gray-700  gap-5 ">
        <a href="https://github.com/Unxpected155/QuitSmoke-FrontEnd">
            <img class="rounded-t-lg " src="/QuitSmoke.webp" alt="" />
        </a>
        <div class="p-5 ">
            <a href="https://github.com/Unxpected155/QuitSmoke-FrontEnd">
                <h6 class="mb-2 text-[18px] font-bold tracking-tight text-verdeagua dark:text-white">QUITSMOKE</h6>
            </a>
            <p class="mb-3 font-normal text-gray-400 dark:text-gray-400">Aplicaci칩n realizada con el objetivo de reducir el consumo de cigarrillos de una persona, mejorar la salud.</p>
            <a href="https://github.com/Unxpected155/QuitSmoke-FrontEnd" class=" w-1/2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-verdeagua rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Github
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="w-[23rem] min-w-[23rem] bg-[#3C3C3B] border border-verdeagua rounded-lg shadow dark:bg-gray-800 dark:border-gray-700  gap-5 ">
        <a href="#">
            <img class="rounded-t-lg " src="/ProyectoSistemas.webp" alt="" />
        </a>
        <div class="p-5 ">
            <a href="#">
                <h5 class="mb-2 text-[18px] font-bold tracking-tight text-verdeagua dark:text-white">PROYECTO SISTEMAS</h5>
            </a>
            <p class="mb-3 font-normal text-gray-400 dark:text-gray-400">Aplicaci칩n web realizada con el fin de informar sobre que temas iba a tratar y abordar un proyecto de redes de inform치tica</p>
            <a href="#" class=" w-1/2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-verdeagua rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Github
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

</div>
