---
console.log('javascript')
---
<div class="
h-64

flex flex-row flex-wrap
border-4 
border-indigo-500/100 
">
    <div class="w-1/2
    border-2
    border-blue-500">
        <img src="" alt="Imagen">
    </div>
    <div class="md:container 
    flex flex-col
    border-4 
    justify-center
    w-1/2
     ">
        <h1 class="text-center text-6xl">Jose Artavia</h1>
        <p class="text-center text-5xl">Software Developer</p>
    </div>
</div>
