---
import 'animate.css';
---
<div class="flex justify-center flex-col animate__animated animate__zoomIn">
    <div class="w-full pt-16 pb-7 flex justify-center">
        <img class="object-scale-down h-96 w-96 brightness-75 contrast-150 saturate-50" 
        src="/yoCartoon.webp" 
        alt="Imagen"
        style="
        mask-image: linear-gradient(to bottom, gray 50%, transparent 95%  );
        ">
    </div>
    <div class="w-full pb-10 flex flex-col justify-center">
        <h1 class="text-center text-6xl ">Jose Artavia</h1>
        <p class="text-center text-4xl text-verdeagua">Software Developer</p>
        <div class="w-full pt-5 flex flex-row justify-center">
            <ul class="pt-5 pb-5 space-x-8 w-1/2  flex flex-row justify-center">
                <li><span><a class="linkedinlink" href="https://www.linkedin.com/in/jose-artavia-b23baa260/"> <i class="pt-5 fa-brands fa-linkedin-in fa-2xl fa-inverse"></i></a></span></li>
                <li><span><a class="githublink" href="https://github.com/J0sePaBl0"><i class="pt-5 fa-brands fa-github fa-2xl hover:fa-xl"></i></a></span></li>
                <li>
                    <a href="CV-JoséPabloArtaviaVersionPortafolio(español).pdf" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-green-400 to-green-800 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Descargar CV
                        </span>
                    </a>
                </li> 
            </ul>
        </div>
    </div>
</div>

<style>
.githublink :hover{
    color: #1a9988;
}
.linkedinlink :hover{
    color: #1a9988;
}

</style>