---
---

<div class="w-full pt-8 pb-7 flex flex-col mt-20 pl-20 space-y-8 pr-10 animate__animated animate__fadeInUp">
    <h1 class="text-4xl" data-translate data-en="About me" data-es="Sobre mi">
        Sobre mi
    </h1>
    <p class="text-2xl text-pretty" data-translate data-en="Software Developer with 2 years of expertise in development, specializing in Java for building enterprise-grade systems, and proficient in Python for high-performance solutions. Experienced in designing scalable APIs, microservices, and database architectures (SQL/NoSQL)," 
       data-es="Desarrollador de software con 2 años de experiencia en desarrollo, especializado en Java para la construcción de sistemas de nivel empresarial, y competente en Python para soluciones de alto rendimiento. Experiencia en el diseño de APIs escalables, microservicios y arquitecturas de bases de datos (SQL/NoSQL).">
        Desarrollador de software con 2 años de experiencia en desarrollo, especializado en Java para la construcción de sistemas de nivel empresarial, y competente en Python para soluciones de alto rendimiento. Experiencia en el diseño de APIs escalables, microservicios y arquitecturas de bases de datos (SQL/NoSQL).
    </p>
</div>


