    ---
   
    ---
    <div class=" w-full pt-8 pb-7 flex flex-col  mt-20 pl-20 space-y-8 pr-10 animate__animated animate__fadeInUp">
        <h1 class="text-4xl ">Sobre mi</h1>
        <p class="text-2xl text-pretty">Soy un desarrollador de software con el dominio de tecnologías como .NET, Java, Python, con experiencia tanto en el desarrollo del lado del cliente como del servidor, capaz de trabajar en todas las capas de una aplicación web o móvil.</p>
    </div>

