---
---

<div class="w-full pt-8 pb-7 flex flex-col mt-20 pl-20 space-y-8 pr-10 animate__animated animate__fadeInUp">
    <h1 class="text-4xl" data-translate data-en="About me" data-es="Sobre mi">
        Sobre mi
    </h1>
    <p class="text-2xl text-pretty" data-translate data-en="I am a software developer skilled in technologies like .NET, Java, Python, with experience in both client-side and server-side development, capable of working across all layers of a web or mobile application." 
       data-es="Soy un desarrollador de software con el dominio de tecnologías como .NET, Java, Python, con experiencia tanto en el desarrollo del lado del cliente como del servidor, capaz de trabajar en todas las capas de una aplicación web o móvil.">
        Soy un desarrollador de software con el dominio de tecnologías como .NET, Java, Python, con experiencia tanto en el desarrollo del lado del cliente como del servidor, capaz de trabajar en todas las capas de una aplicación web o móvil.
    </p>
</div>


