---
---

<div class="w-full pt-8 pb-7 flex flex-col mt-20 pl-20 space-y-8 pr-10 animate__animated animate__fadeInUp">
    <h1 class="opacity-70 text-4xl" data-translate data-en="About me" data-es="Sobre mi">
        Sobre mi
    </h1>
    <p class="text-2xl text-pretty opacity-60" data-translate data-en="Software Developer with expertise 2 years in full stack development, building high-performance systems designing scalable
APIs, microservices, and robust database architecture(SQL/noSQL)" 
       data-es="Desarrollador de software con 2 años de experiencia en desarrollo full stack, creación de sistemas de alto rendimiento, diseño de API escalables,
 microservicios y arquitectura de bases de datos robustas (SQL/noSQL).">
        Desarrollador de software con 2 años de experiencia en desarrollo full stack, creación de sistemas de alto rendimiento, diseño de API escalables,
 microservicios y arquitectura de bases de datos robustas (SQL/noSQL).
    </p>
</div>


