---
import WhatsappIcon from "./icons/WhatsappIcon.astro"
---
<a href="https://wa.me/50660181661" target="_blank" class="fixed bottom-4 right-4 z-50">
    <div class="bg-green-500 p-3 rounded-full shadow-lg transition duration-300 hover:bg-green-600">
      <WhatsappIcon></WhatsappIcon>
    </div>
  </a>