---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/header.astro'
import WhatsappBubble from '../components/WhatsappBubble.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body>
		<Header></Header>	
		<div class="max-w-6xl pt-32 mx-auto flex justify-center flex-col">
		<slot />
		</div>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function () {
			  const switchButton = document.getElementById('language-toggle');
			  const elementsToTranslate = document.querySelectorAll('[data-translate]');
		
			  if (switchButton) {
				switchButton.addEventListener('change', function () {
				  const lang = switchButton.checked ? 'en' : 'es'; // 'es' para español, 'en' para inglés
		
				  elementsToTranslate.forEach((element) => {
					const text = element.getAttribute(`data-${lang}`);
					if (text) {
					  element.textContent = text; // Actualiza el contenido dinámicamente
					}
				  });
				  translatePlaceholders(lang);
				});
			  }
			  function translatePlaceholders(language) {
    			const inputs = document.querySelectorAll('input[data-translate]');

    			inputs.forEach(input => {
      			const placeholderText = input.getAttribute(`data-${language}`);
      			input.placeholder = placeholderText;
   			 	});
  			}
			});
			
		  </script>
		<WhatsappBubble></WhatsappBubble>
	</body>
</html>

<style is:global>

	html {
		background: radial-gradient(ellipse at bottom, black 50%, rgb(8, 23, 18),rgb(15, 51, 39));
		background-repeat: no-repeat;
		height: 100%;
		background-attachment: fixed;
		color-scheme: dark light;
		color: white;
		scroll-behavior: smooth;
	}
	h1{
		font-family: "Poppins", sans-serif;
  		font-weight: 600;
  		font-style: normal;
		font-size: ;
	}
	p{
		font-family: "Hind", sans-serif;
  		font-weight: 300;
  		font-style: normal;
	}
</style>
